.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 48px;
  background-color: #222;
  box-sizing: border-box;
}

.title {
  color: aliceblue;
  font-size: 1rem;
}

a {
  padding: 8px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;

  &:not(:first-child) {
    margin-left: 8px;
  }

  &:visited,
  &:link {
    color: #334953;
  }

  &:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }

  &.active {
    color: #039be5;
  }
}

.contents {
  padding-top: 12px;
}

main {
  padding: 16px;
}
